.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nestedList {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
}
.title {
  color: var(--link-color);
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
  white-space: nowrap;
}
.group {
  margin: 10px 0 14px 0;
}
.groupTitle {
  color: var(--text-color);
  padding: 0;
  margin: 0 0 4px 10px;
  font-size: 0.95rem;
}
.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 0;
  padding-left: 10px;
}
.listItemActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  background-color: var(--link-active-color);
}
.link {
  font-size: 0.9rem;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
